#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

div {
    height: 400px;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

p {
    padding: 25px;
}