
.main-navigation {
    background-color: var(--color-secondary);
    padding: 0;
}

.main-navigation a,
.main-navigation a:visited {
    color: var(--color-primary);
    font-weight: 600;
}

.main-navigation a:hover {
    color: var(--color-primary);
}

.inner-nav-container {
    height: 60px;
    flex-basis: 1400px;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0px;
    padding: 20px 0;
    display: flex
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: var(--color-primary) solid 3px;
    border-top: var(--color-primary) solid 3px;
}


.left-part{
    float: left;
    width: 25%;
}

.center-part{
    width: 50%;
}

.right-part{
    float: right;
    width: 25%;
}

button {
    margin: 0 10px;
    font-size: 1.5rem;
}


.navtext-center {
    color: var(--color-primary);
    list-style: none;
    text-align: center;

}

.left-in-container{

    text-align: left;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.right-in-container{

    text-align: right;
    padding: 0;
    margin: 0;

}

.center-in-container {

    justify-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

.information-button{
    cursor: help;
}