.main-navigation {
    background-color: var(--color-secondary);
    padding: 10px 0;
}

.main-navigation a,
.main-navigation a:visited {
    color: var(--color-primary);
    font-weight: 600;
}

.main-navigation a:hover {
    color: var(--color-primary);
}

.inner-nav-container {
    height: 60px;
    flex-basis: 1400px;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0 15px;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: flex-start;
    border-bottom: var(--color-primary) solid 3px;
    border-top: var(--color-primary) solid 3px;
}


button {
    margin: 0 10px;
}

navtext-right {
    color: var(--color-primary);
    list-style: none;
    margin: 20px 0;
    width: 100%;
    text-align: right;
    border: solid 3px pink;
}