
.dynamic-drop-down select {
    font-size: 1.2em;
    color: var(--color-secondary);
    border: var(--color-primary) solid 1px;
    border-radius: 15px;
    background-color: var(--color-primary);
    text-align: center;

}





