/* ===== GENERAL: COLORS AND FONTS======================================== */

:root {

  --color-bg: #ffffe0;  /* achtergrondkleur */
  --color-primary: #000080; /* primaire kleur */
  --color-secondary: #fefefe; /* secundaire kleur */
  --color-projectleader-active: #800080;
  --color-projectleader-passive: #FFCCFF;
  --color-projectleader-txt: #000000;
  --color-trafdesigner-active: #FFA500;
  --color-trafdesigner-passive: #FFECBC;
  --color-trafdesigner-txt: #FFFFFF;
  --color-civildesigner-active: #808080;
  --color-civildesigner-passive: #CCCCCC;
  --color-civildesigner-txt: #000000;
  --color-na: #E0E0E0;
  --color-evaluation: #800080;
  --color-ok: #009000; /* ok (om te klikken) */
  --color-bad: #E00000; /* niet ok (om te klikken) */

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.7rem;
}

p {
  font-size: 1.25rem;
}


/* ===== FIELDSETS ======================================== */

/* ===== BUTTONS ========================================== */

button {

  text-align: center;
  border-radius: 50%;
  border: 1px solid transparent;
  padding: 1em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-primary);
  color: var(--color-primary);
  text-decoration-color: var(--color-primary);
  background: var(--color-secondary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.pill-button{

  margin: 5px;
  padding: 0px;
  min-height: 60px;
  max-height: 60px;
  min-width: 60px;
  font-size: 1.25rem;
  display: inline-block;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;

}

.material-symbols-outlined{
  font-family: Material-Symbols-Outlined;
}

button[type=submit]{
  background-color: var(--color-ok);
}
button[type=submit]:hover{
  color: var(--color-ok);
  background-color: var(--color-secondary);
  border-color: var(--color-ok);
}


/*===== FIELDSETS + LEGENDS + INPUTS=================*/

fieldset {
  display: block;
  margin: 20px 1%;
  margin-bottom: 20px;
  padding: 0 auto;
  padding: 15px 0;
  border: 0;
  border-top: 1px solid #DDD;
  width: 98%;
}

fieldset:last-of-type {
  margin-bottom: 0px;
}

legend {
  display: table;
  min-width: 0px;
  max-width: 80%;
  position: relative;
  margin: auto;
  padding: 5px 20px;
  color: var(--color-primary);
  font-size: 1.7rem;
  text-align: center;
}

input {
  margin: 0 10px;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--color-primary);
  }

}


