/* ===== GENERAL: COLORS AND FONTS======================================== */

:root {

  --color-bg: #ffffe0;  /* achtergrondkleur */
  --color-primary: #000080; /* primaire kleur */
  --color-secondary: #fefefe; /* secundaire kleur */

  --color-projectleader-active-bg: #800080;
  --color-projectleader-active-fg: #FFFFFF;
  --color-projectleader-passive-bg: #da3cda;
  --color-projectleader-passive-fg: #000000;

  --color-trafficengineer-active-bg: #FFA500;
  --color-trafficengineer-active-fg: #FFFFFF;
  --color-trafficengineer-passive-bg: #FFECBC;
  --color-trafficengineer-passive-fg: #000000;

  --color-civilengineer-active-bg: #404040;
  --color-civilengineer-active-fg: #FFFFFF;
  --color-civilengineer-passive-bg: #A0A0A0;
  --color-civilengineer-passive-fg: #000000;

  --color-na: #E0E0E0;
  --color-evaluation: #800080;
  --color-ok: #009000; /* ok (om te klikken) */
  --color-bad: #E00000; /* niet ok (om te klikken) */
  --color-disabled-bg: #808080;
  --color-disabled-txt: #a0a0a0;
  --color-disabled-border: #a0a0a0;


  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.7rem;
}

p {
  font-size: 1.25rem;
}


sub {
  font-size: 0.65em;
}

.mathematics-font{
  font-family: "Times New Roman", Times, sans-serif;
  /*font-family: "Times New Roman", Times, sans-serif;*/
}




/* ===== BUTTONS ========================================== */

button {

  text-align: center;
  border-radius: 50%;
  min-width: 60px;
  min-height: 60px;
  border: 1px solid transparent;
  /*padding: 1rem 1.2rem;*/
  /*font-size: 1rem;*/
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-primary);
  color: var(--color-primary);
  text-decoration-color: var(--color-primary);
  background: var(--color-secondary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.pill-button{

  min-height: 60px;
  max-height: 60px;
  min-width: 60px;
  display: inline-block;
  border-radius: 30px;
  padding: 1rem 1.2rem;

}

button[type=submit]{
  margin-top: 10px;
  background-color: var(--color-ok);
}
button[type=submit]:hover{
  color: var(--color-ok);
  background-color: var(--color-secondary);
  border-color: var(--color-ok);
}

.delete-button:hover{
  background-color: #E00000;
  color: white;
}

button:disabled{
  background-color: var(--color-disabled-bg);
  border-color: var(--color-disabled-border);
  color: var(--color-disabled-txt);
}

/*.material-icons{*/
/*  font-size: 1.5rem;*/
/*}*/

/*===== FIELDSETS + LEGENDS + INPUTS=================*/

fieldset {
  display: block;
  margin: 20px 1%;
  padding: 15px 0;
  border: 0;
  border-top: 1px solid #DDD;
  width: 98%;
}

fieldset:last-of-type {
  margin-bottom: 0px;
}

legend {
  display: table;
  min-width: 0px;
  max-width: 80%;
  position: relative;
  margin: auto;
  padding: 5px 20px;
  color: var(--color-primary);
  font-size: 1.7rem;
  text-align: center;
}

input {
  margin: 0 10px;
}

.flex-row-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--color-primary);
  }

}


